<html>
   
    <body>    
        <h1>All Movies Page </h1>
        <h3> Welcome <%= username %> <br></h3>   
        <div>
        <% movies.forEach(function(movie) { %>
            <br/>
            <div style="border:1px solid black;">
        <h3> <%= movie.Name %> , <%= movie.Premiered %></h3> 
        <span style="border: 1px;"> Genres : <%= movie.Genres %> </span><br/>  
        </br> <img width="200" height="300" src=<%=movie.Image ? movie.Image : "" %> /><br/><br/>

        <% if(permission) { %>
            <input type="submit" name="action" value="Edit" >
            <input type="submit" name="action" value="Delete">
            <% } %>
            <% }) %>

    </body>
</html>