<!DOCTYPE html>

<html>

<body>
    <h1>All Users Page </h1>
    <% users.forEach(function(user) { %>
        <br />
        <div style="border:1px solid black;">
            Name: <%= user.name %> <br />
                User Name : <%= user.username %> <br />
                    Session Time Out : <%= user.session %> <br />
                        Create Data : <%= user.createDate %> <br />
                            Permissions : <%= user.permissions %><br /><br />
                                <form action="/editUser/<%= user.id %>">
                                    <input type="submit" value="Edit" />
                                </form><br />
                                <form action="/editUser/delete/<%= user.id %>">
                                    <input type="submit" value="Delete" />
                                </form>


                                <br />
        </div>
        <% }) %>






</body>

</html>